.titulo{
    text-align: center;
color: rgb(255, 255, 255);
text-shadow:1 px 1 px rgb(255, 255, 255) ;
}
table, th, td {
    border-radius: 10px;
    border-spacing: 50px;
    text-align: center;
    margin: 0;
  }
  table{
    width: 100%;
  }
h2{
    text-align: center;
    color: white;
}